/*****************************************************************/
/* SCREEN.CSS - STYLES FOR V3
/* DIVIDED IN FOLLOWING PARTS */
/* ==> ADD TO OR OVERRIDE LIBRARY STYPES */
/* ==> ADD TO OR OVERRIDE LIBRARY STYPES */
/* ==> ADD TO OR OVERRIDE LIBRARY STYPES */
/*****************************************************************/



html
	{background: #ffffff;}

body {font-family: 'Roboto';}

ul, ol
	{list-style: none; padding: 0; margin: 0;}

h3, .h3 {font-size: 16px;}

h2, .h2 {font-size: 20px;}

h1, .h1 {font-size: 28px;}

textarea {resize: none;}

a {cursor: pointer;}

a:hover, a:focus {
  text-decoration: underline;
}

a.logo
	{font-size: 35px; color: #ffffff;}



/*****************************************************************/
/********* START : ADD TO OR OVERRIDE LIBRARY STYPES *************/
/*****************************************************************/

/***** START : BOOTSTRAP ******/

@media (min-width: 1200px){
	.container {width: 976px;}
}

@media (min-width: 992px){
	.container {width: 976px;}
}

/*
.navbar-brand {
	padding: 15px 0px;
}
*/

.btn-white {
  background: #fff;
  color: rgb(200,37,6);
  cursor: pointer;
}

.btn-white:hover {
  background-color: #340a02;
  color: #fff;
}

.btn-white-border {
  border: 1px solid #ccc;
}

.btn-white-border:hover {
  color: #fff;
  background: rgb(200,37,6);
  border: 1px solid rgb(200,37,6);
}

.btn-transparent {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: transparent;
  *background-color: transparent;
  background-image: -moz-linear-gradient(top, transparent, transparent);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(transparent));
  background-image: -webkit-linear-gradient(top, transparent, transparent);
  background-image: -o-linear-gradient(top, transparent, transparent);
  background-image: linear-gradient(to bottom, transparent, transparent);
  background-repeat: repeat-x;
  border-color: #ffffff;
  border-color: rgba(255, 255, 255, 0.1) rgba(255, 255, 255, 0.1) rgba(255, 255, 255, 0.25);
}

.btn-transparent:hover,
.btn-transparent:active,
.btn-transparent.active,
.btn-transparent.disabled,
.btn-transparent[disabled] {
  color: #ffffff;
  background-color: #bd362f;
  *background-color: #a9302a;
}

.btn-transparent:active,
.btn-transparent.active {
  background-color: #942a25 \9;
}

header.navbar
	{background: #0094FF; margin-bottom: 0px;}



a.navbar-brand
	{display: inline-block;}

a.navbar-brand img
	{height: 30px;}

.icon-bar
	{background-color: #ffffff;}

.dropdown-menu .active>a, .dropdown-menu .active>a:hover, .dropdown-menu li>a:hover
	{background-color: #E04F48; color: #f5f5f5;}

header a
	{color: #ffffff;}

header.navbar
	{border-bottom: 1px solid #e5e5e5;}

header	.navbar-toggle
	{margin-right: 0px;}

.nav > li > a:hover, .nav > li > a:focus
	{color: #ffffff;}

.nav > li > a.btn-context:hover, .nav > li > a.btn-context:focus
	{background-color: #561002; border-color: #561002;}

.btn-context
	{color: #0094FF; background-color: #fff; border-color: #ccc;}

.btn-context:hover,
.btn-context:focus,
.btn-context.focus,
.btn-context:active,
.btn-context.active,
.open > .dropdown-toggle.btn-context
	{background-color: #561002; border-color: #561002;}

.btn-context:active,
.btn-context.active,
.open > .dropdown-toggle.btn-context
	{background-image: none;}

.btn-extraRounded
	{border-radius: 30px; padding: 10px 25px; border-color: transparent;}

.navbar-nav > li > a.navButton
	{padding: 10px 25px; margin: 5px;}


.btn-link {color: #0094FF;}

.btn-link:hover, .btn-link:focus {color: #F54828; text-decoration: none;}

.btn-red {
  background: #0094FF;
  color: #fff;
  cursor: pointer;
}

.btn-red:hover, .btn-red:focus {
  background: #F54828;
  color: #fff;
}

/***** END : BOOTSTRAP ******/

/********* START : TWITTER TYPEAHEAD **********/
.tt-dropdown-menu {
	background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 0 0 4px 4px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 0px;
	padding: 0 0 4px 0;
	width: 100%;
	color: #333;
	box-sizing:border-box;
	line-height: 30px;
	max-height: 210px;
	overflow-y: scroll;
}

.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.tt-suggestion {
    font-size: 14px;
    padding: 2px 10px;
    border-top:1px solid #ccc;
    cursor: pointer;
}

.tt-suggestion.tt-cursor {
    background-color: rgb(200,37,6);
    color: #FFFFFF;
}

.tt-suggestion p {
    margin: 0;
}

.twitter-typeahead{
	width : 100%;
}

/********* END : TWITTER TYPEAHEAD **********/

/*****************************************************************/
/********* END : ADD TO OR OVERRIDE LIBRARY STYPES *************/
/*****************************************************************/


/*****************************************************************/
/************ START: SUPPORT FOR SITE.CSS STYLES*******************/
/*****************************************************************/

@font-face {
	font-family: 'MyriadPro-Light';
	src: url('/fonts/MyriadPro-Light.eot');
	src: url('/fonts/MyriadPro-Light.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/MyriadPro-Light.woff') format('woff'),
	     url('/fonts/MyriadPro-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-Regular.ttf') format('truetype');
}

.myriadpro-light {
  font-family: MyriadPro-Light, 'Helvetica Neue', Georgia, 'Times new roman';
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
}

.share {
	margin-right: 10px;
	width: 26px;
  	height: 26px;
  	display: inline-block;
}

.gplus_share_small {
  background-image: url(/img/gplus_share_small.png);
  background-repeat: no-repeat;
}

.twitter_share_small {
  background-image: url(/img/twitter_share_small.png);
  background-repeat: no-repeat;
}

.fb_share_small {
  background-image: url(/img/fb_share_small.png);
  background-repeat: no-repeat;
}

.name_block_small_img {
  vertical-align: top;
  margin-left: 60px;
}

.small_pic {
  width: 50px;
  border-radius: 25px;
  vertical-align: top;
}

.footer .footer-inner {
  padding-top: 35px;
}

.footer .section-title {
  color: #ccc;
  font-size: 13px;
  margin-bottom: 15px;
}

.footer a {
  color: #fff;
  font-size: 13px;
}

.footer ul li {
  margin-bottom: 3px;
}

.footer {
  background-color: #676767;
  color: #fff;
  padding-bottom: 25px;
}

.gplus_share_small:hover, .gplus_share_small_fill {
  background-image: url(/img/gplus_share_small_fill.png);
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  display: inline-block;
}

.twitter_share_small:hover, .twitter_share_small_fill {
  background-image: url(/img/twitter_share_small_fill.png);
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  display: inline-block;
}

.fb_share_small:hover, .fb_share_small_fill {
  background-image: url(/img/fb_share_small_fill.png);
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  display: inline-block;
}

.footer .footer-outer, .footer .footer-copyright {
  margin-top: 35px;
}

.footer .footer-outer, .footer .footer-copyright {
  margin-top: 35px;
}

/*****************************************************************/
/************ END: SUPPORT FOR SITE.CSS STYLES*******************/
/*****************************************************************/


/*****************************************************************/
/********************** START: SCREEN.CSS ************************/
/*****************************************************************/


/********* START : DESIGN LOGIC : COMPONENT STYLES **********/

.d-supportText, .a-systemHelp
	{color: #707070;}

.d-blockUnit
	{margin-bottom: 20px;}

.d-blockUnit.a-askQuestion
	{border-radius: 3px; padding: 20px;}

.a-askQuestion textarea
	{resize: none;}

.d-grayItem
	{background: #e5e5e5;}

.a-help
	{}

.d-title
	{font-weight: bold; margin-bottom: 10px;}

.d-whiteItem
	{padding: 10px; background-color: #fff; border-radius: 2px;}

.d-check
	{background-color: #24984D; padding: 2px;}

.d-check i
	{background: url(../../img/tick_white.png) no-repeat; display: inline-block; width: 20px; height: 20px;}

.d-4CharInput
	{width: 70px !important;}

.form-inline .d-4CharInput
	{display: inline-block;}

.form-inline div.radio
	{margin: 10px 0px;}

.form-inline > label , .d-alignAlongInputNormal
	{margin: 10px 0px;}

/********* END : DESIGN LOGIC : COMPONENT STYLES **********/


/*****************************************************************/
/********************** END: SCREEN.CSS ************************/
/*****************************************************************/

.a-organisationLinks a { text-transform: capitalize;}
.a-organisationLinks a:first-child {}
.a-socialLinks a {font-size: 24px; color: #404040; margin-right: 10px;}
.a-socialLinks a:hover {text-decoration: none;}

.d-unit {
  border: 1px solid #d5d5d5;
  -moz-box-shadow: 0 0 3px rgba(217, 216, 216, 1);
  -webkit-box-shadow: 0 0 3px rgba(217, 216, 216, 1);
  box-shadow: 0 0 3px rgba(217, 216, 216, 1);

  padding: 10px;
}

.a-organisationInfo {
  padding-left: 60px;
  position: relative;
  min-height: 50px;
}

.a-organisationInfo .d-image {
  width: 50px; height: 50px; position: absolute; left: 0px;
}

.a-actionableServices .a-organisationInfo {
  padding-left: 50px;
  position: relative;
  min-height: 40px;
}

.a-actionableServices .a-organisationInfo .d-image,
.a-actionableIssues .a-organisationInfo .d-image {
  width: 40px; height: 40px; position: absolute; left: 0px;
}

.a-organisationLogoSmall {
  width: 40px; height: 40px; display: inline-block;
}

.a-organisationLogoSmall img,
.a-organisationInfo .d-image img {
  width: 100%;
}

.d-metaInfo a, .d-metaInfo {
  color: #808080;
  font-size: 12px;
}

.a-actionableServices .d-unit .d-content {
  margin-top: 10px;
}

.a-actionableServices .d-unit .d-callToAction {
  margin-top: 10px;
}

.a-actionableIssues .d-unit .d-content {
  font-size: 20px;
}

.a-resolvedIssues .d-content,
.a-actionableServices .d-content
	{font-size: 13px;}

.d-labels {margin-top: 5px;}

.a-actionableServices .d-unit, .a-actionableIssues .d-unit {margin-bottom: 15px;}

.a-actionableIssues .d-unit {}

.nav>li>a:hover, .nav>li>a:focus {background-color: rgba(255, 255, 255, 0.3); border-color: rgb(116, 231, 252);}

@media (min-width: 768px) {
	.navbar-nav>li>a {padding-bottom: 13px; border-bottom: 3px solid transparent; padding-top: 18px;}
}

.a-actionableIssues .d-unit .a-organisations {margin-top: 5px;}
.a-actionableIssues .d-unit .a-organisations a {}
.a-postMedia {margin-top: 15px;}
.a-postMedia .d-image img {width: 100%;}

.a-resolvedIssues a {color: #404040;}
.a-resolvedIssues a:hover {text-decoration: none;}
.a-resolvedIssues .d-unit {margin-bottom: 15px;}

.a-resolvedIssues .d-unit {font-size: 12px;}

.a-locationInfo .a-geographicHierarchy,
.a-locationInfo .a-loction
  {margin-top: 5px; line-height: 1;}


.a-contextTitle
	{border-bottom: 1px dashed #d5d5d5; padding: 10px;}

.a-contextTitle	h1
	{margin: 0px; display: inline-block; font-size: 30px;}

.a-contextTitle .a-helpText {color: #808080; margin-left: 5px;}

.a-mainContent {margin-top: 15px;}
