<template name="notifications">
  <div class="a-notifications">
    <ul>
        <li class="a-unread" title="Agriculture">
            agriculture
            <span>4</span>
        </li>
        <li title="police" class="a-unread">
            police
            <span>33</span>
        </li>
        <li title="water" class="a-unread">
            water
            <span>21</span>
        </li>
        <li title="electricity" class="a-unread">
            electricity
            <span>4</span>
        </li>
        <li class="" title="PWD">
          PWD
          <span></span>
        </li>
        <li title="health">
          health
          <span>7</span>
        </li>
        <li title="tax">
          TAX
          <span></span>
        </li>
        <li title="Atomic Energy">
          atomic energy
          <span></span>
        </li>
        <li class="" title="Bio Technology">
          bio tech
          <span></span>
        </li>
        <li title="Consumer Affairs">
          consumer affairs
          <span></span>
        </li>
        <li title="Economic Affairs">
          Eco affairs
          <span></span>
        </li>
    </ul>

    <ul style="display:none;">
      <li title="health"></li>
      <li title="health"></li>
      <li value="CBODT">Central Board of Direct Taxes (Income Tax)</li>
      <li value="CBOEC">Central Board of Excise and Customs</li>
      <li value="DOAAC">Department of Agriculture and Cooperation</li>
      <li value="DOARE">Department of Agriculture Research and Education</li>
      <li value="NAICO">Department of AIDS Control</li>
      <li value="DOAHD">Department of Animal Husbandry, Dairying and Fisheries</li>
      <li value="DATOM">Department of Atomic Energy</li>
      <li value="DBIOT">Department of Bio Technology</li>
      <li value="MHABM">Department of Border Management</li>
      <li value="DOCPC">Department of Chemicals and Petrochemicals</li>
      <li value="DOCOM">Department of Commerce</li>
      <li value="DOCAF">Department of Consumer Affairs</li>
      <li value="MODEF">Department of Defence</li>
      <li value="FADSS">Department of Defence Finance</li>
      <li value="DDPRO">Department of Defence Production</li>
      <li value="DDRDO">Department of Defence Research and Development</li>
      <li value="DODAF">Department of Disability Affairs</li>
      <li value="DODIV">Department of Disinvestment(M/o Finance)</li>
      <li value="DOEAF">Department of Economic Affairs</li>
      <li value="DDESW">Department of Ex Servicemen Welfare</li>
      <li value="DOEXP">Department of Expenditure</li>
      <li value="DOFZR">Department of Fertilizers</li>
      <li value="DEABD">Department of Financial Services (Banking Division)</li>
      <li value="DOFPD">Department of Food and Public Distribution</li>
      <li value="DHLTH">Department of Health &amp; Family Welfare</li>
      <li value="DHRES">Department of Health Research</li>
      <li value="DHIND">Department of Heavy Industry</li>
      <li value="DSEHE">Department of Higher Education</li>
      <li value="DOIPP">Department of Industrial Policy &amp; Promotion</li>
      <li value="MINIT">Department of Information Technology</li>
      <li value="MHAIS">Department of Internal Security</li>
      <li value="MHAJK">Department of J and K Affairs</li>
      <li value="DEPOJ">Department of Justice</li>
      <li value="DOLDR">Department of Land Resources</li>
      <li value="DLGLA">Department of Legal Affairs</li>
      <li value="JSOLD">Department of Official Language</li>
      <li value="DOPAT">Department of Personnel and Training</li>
      <li value="DPHAM">Department of Pharmaceutical</li>
      <li value="DPOST">Department of Posts</li>
      <li value="DPUBE">Department of Public Enterprises</li>
      <li value="DORVU">Department of Revenue</li>
      <li value="DORLD">Department of Rural Development</li>
      <li value="DOSEL">Department of School Education and Literacy</li>
      <li value="DOSAT">Department of Science and Technology</li>
      <li value="DOSIR">Department of Scientific &amp; Industrial Research</li>
      <li value="MOSJE">Department of Social Justice and Empowerment</li>
      <li value="DSPAC">Department of Space</li>
      <li value="DSPRT">Department of Sports</li>
      <li value="MHAST">Department of States</li>
      <li value="DOTEL">Department of Telecommunications</li>
      <li value="MOYAS">Department of Youth Affairs and Sports</li>
      <li value="DEAID">Insurance Division</li>
      <li value="LGVED">Legislative Department</li>
      <li value="MCOAL">Ministry  of Coal</li>
      <li value="AYUSH">Ministry of Ayush</li>
      <li value="MOCAV">Ministry of Civil Aviation</li>
      <li value="DCOYA">Ministry of Corporate Affairs</li>
      <li value="DCLTR">Ministry of Culture</li>
      <li value="DONER">Ministry of Development of North Eastern Region</li>
      <li value="DODWS">Ministry of Drinking Water and Sanitation</li>
      <li value="DOCND">Ministry of Earth Sciences</li>
      <li value="MOEAF">Ministry of Environment and Forests</li>
      <li value="MEAPD">Ministry of External Affairs</li>
      <li value="DOFPI">Ministry of Food Processing Industries</li>
      <li value="MINHA">Ministry of Home Affairs</li>
      <li value="MHUPA">Ministry of Housing and Poverty Alleviation</li>
      <li value="MOIAB">Ministry of Information and Broadcasting</li>
      <li value="MOLBR">Ministry of Labour and Employment</li>
      <li value="MMSME">Ministry of Micro Small and Medium  Enterprises</li>
      <li value="MMINE">Ministry of Mines</li>
      <li value="MOMAF">Ministry of Minority Affairs</li>
      <li value="MONRE">Ministry of New and Renewable Energy</li>
      <li value="MOOIA">Ministry of Overseas Indian Affairs</li>
      <li value="MOPRJ">Ministry of Panchayati Raj</li>
      <li value="MINPA">Ministry of Parliamentary Affairs</li>
      <li value="MPANG">Ministry of Petroleum and Natural Gas</li>
      <li value="MPOWR">Ministry of Power</li>
      <li value="MORLY">Ministry of Railways, ( Railway Board)</li>
      <li value="MORTH">Ministry of Road Transport and Highways</li>
      <li value="MSHPG">Ministry of Shipping</li>
      <li value="DOSKD">Ministry of Skill Development and Entrepreneurship</li>
      <li value="MOSSI">Ministry of Small Scale Industries </li>
      <li value="MOSPI">Ministry of Statistics and Programme Implementation</li>
      <li value="MOSTL">Ministry of Steel</li>
      <li value="MTXTL">Ministry of Textiles</li>
      <li value="DTOUR">Ministry of Tourism</li>
      <li value="MTRBL">Ministry of Tribal Affairs</li>
      <li value="DOURD">Ministry of Urban Development</li>
      <li value="MINWR">Ministry of Water Resources</li>
      <li value="DOWCD">Ministry of Women and Child Development</li>
      <li value="DPLNG">NITI Aayog</li>
      <li value="CAGAO">O/o the Comptroller &amp; Auditor General of India</li>
      <li value="UIDAI">Unique Identification Authority of India</li>
    </ul>
  </div>
</template>
