<template name="serviceUpdates">

  <div class="d-unit">
    <div class="a-organisationInfo">
      <div class="d-image">
        <img src="./img/systemData/cities/delhi/trafficPolice/profileImage.jpg" />
      </div>
      <div class="d-text">
        <div class="">
          <a href="">Delhi Traffic Police</a>
        </div>
        <div class="d-metaInfo">
          <a href="">13 hrs</a>
          &middot;
          <a href="">Pune</a>
        </div>
      </div>
    </div>
    <div class="d-content">
      Pay your challan for jumping Moolchand Metro Station traffic light on 22nd September 2015.
    </div>
    <div class="d-callToAction">
      <a class="btn btn-sm btn-primary">Pay Now</a>
      <a class="btn btn-sm btn-default">Plead Not Guilty</a>
    </div>
  </div>

</template>
