<template name="logoAndContextSwitch">

  <div class="logoAndContextSwitch clearfix">
    <a class="logo" href="{{pathFor 'home'}}">Qbila</a>
    <div class="dropdown">
      <span class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
        My Places
        <span class="caret"></span>
      </span>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">My Places</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">My Representatives</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Open Documents</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Laws in Making</a></li>
      </ul>
    </div>
  </div>

</template>
