<template name="serviceHistory">

  <div class="">
    <div class="a-places clearfix">
      <div class="">
        <div class="d-title">
          Services History
        </div>

        <div class="a-followed" style="font-size: 12px;">
          <div class="d-unit clearfix">
            Applied for position of Junior Developer at CRIS.
            <div class="">
              <a>View Status</a>
            </div>
          </div>

          <div class="d-unit clearfix">
            Applied for Passport at Passport Seva Kendra, R.K. Puram, Delhi
            <div class="">
              <a>View Status</a>
            </div>
          </div>

          <div class="d-unit clearfix">
            Applied for position of Junior Developer at CRIS.
            <div class="">
              <a>View Status</a>
            </div>
          </div>

          <div class="d-unit clearfix">
            Linked Voter Id Card with Aadhar Number.
          </div>

          <div class="d-unit clearfix">
            Recieved Voter Id Card.
          </div>

        </div>

      </div>
    </div>
  </div>

</template>
