<template name="places">

  <div class="a-places clearfix">
    <div class="">
      <div class="d-title">
        My Places
      </div>

      <div class="a-followed" style="font-size: 12px;">
        <div class="d-unit clearfix">
          Lajpat Nagar, South Delhi, Delhi, India
        </div>

        <div class="d-unit clearfix">
          R.P. Niwas, Shimla, Himachal Pradesh, India
        </div>

        <div class="d-unit clearfix">
          Shivaji Nagar, Pune, Maharashtra, India
        </div>
      </div>

    </div>
  </div>

</template>
