<template name="contextTitle">

<!-- to be made dynamic -->

  <div class="a-contextTitle">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-9">
          <h1 class="myriadpro-light">
            {{ contextTitle }}
            <!-- {{ TitleAndContext }} -->
          </h1>
          <span class="a-helpText" style="">
            {{ contextInfo }}
          </span>
        </div>
        <div class="hidden-xs col-sm-4 col-md-3">
          <div class="input-group input-group-sm">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>
