<template name="localIssuesUnit">

  <div class="d-unit" style="border: 1px solid #d5d5d5;">
    <div class="d-content">
      No street lights causing security problems in night.
    </div>
    <div class="a-locationInfo">
      <div class="d-text">
        <div class="a-loction">
          <span class="a-precise">
            Sanwal Nagar Market
          </span>
          &middot;
          <a class="a-distance d-metaInfo" style="color: #404040;" title="distance from your place">300 m</a>
          &middot;
          <a class="a-distance d-metaInfo" style="color: #404040;" href="">3 days ago</a>
        </div>
        <div class="a-geographicHierarchy">
          <a class="a-distance d-metaInfo" href="">Central Delhi</a>
          &middot;
          <a class="a-distance d-metaInfo" href="">Delhi</a>
          &middot;
          <a class="a-distance d-metaInfo" href="">India</a>
        </div>
      </div>
    </div>
    <div class="a-organisations d-labels">
      <a class="label label-info" href="">Delhi Police</a>
      <a class="label label-info" href="">Municipal Corporation</a>
      <!--
      <a class="d-image a-organisationLogoSmall">
        <img src="./img/systemData/cities/delhi/trafficPolice/profileImage.jpg" />
      </a>
      <a class="d-image a-organisationLogoSmall">
        <img src="./img/systemData/cities/delhi/municipal/logo.jpg" />
      </a>
    -->
    </div>
    <div class="a-postMedia">
      <div class="d-image">
        <img src="/img/systemData/cities/delhi/issues/streetLight.jpg" />
      </div>
    </div>
    <div class="d-engagement" style="margin-top: 10px;">
      <span class="d-upVote" style="">
        <span class="fa fa-thumbs-o-up"></span>
        &middot;
        <span class="d-count">23</span>
      </span>
      <span class="d-expressions">
        <span class="fa fa-comments-o"></span>
        &middot;
        <span class="d-count">12</span>
      </span>
      <span class="d-expressions">
        <span class="fa fa-share-alt"></span>
        &middot;
        <span class="d-count">12</span>
      </span>
    </div>
  </div>


  <div class="d-unit" style="border: 1px solid #d5d5d5;">
    <div class="d-content">
      Footpath turned into parking lot. Unsafe for commuting pedestrians.
    </div>
    <div class="a-locationInfo">
      <div class="d-text">
        <div class="a-loction">
          <span class="a-precise">
            Siri Fort Extension
          </span>
          &middot;
          <a class="a-distance d-metaInfo" style="color: #404040;" title="distance from your place">1 km</a>
          &middot;
          <a class="a-distance d-metaInfo" style="color: #404040;" href="">5 days ago</a>
        </div>
        <div class="a-geographicHierarchy">
          <a class="a-distance d-metaInfo" href="">South Delhi</a>
          &middot;
          <a class="a-distance d-metaInfo" href="">Delhi</a>
          &middot;
          <a class="a-distance d-metaInfo" href="">India</a>
        </div>
      </div>
    </div>
    <div class="a-organisations d-labels">
      <a class="label label-info" href="">Delhi Police</a>
      <a class="label label-info" href="">Municipal Corporation</a>
      <!--
      <a class="d-image a-organisationLogoSmall">
        <img src="./img/systemData/cities/delhi/trafficPolice/profileImage.jpg" />
      </a>
      <a class="d-image a-organisationLogoSmall">
        <img src="./img/systemData/cities/delhi/municipal/logo.jpg" />
      </a>
    -->
    </div>
    <div class="a-postMedia">
      <div class="d-image">
        <img src="/img/systemData/cities/delhi/issues/roadParking.jpg" />
      </div>
    </div>
    <div class="d-engagement" style="margin-top: 10px;">
      <span class="d-upVote" style="">
        <span class="fa fa-thumbs-o-up"></span>
        &middot;
        <span class="d-count">23</span>
      </span>
      <span class="d-expressions">
        <span class="fa fa-comments-o"></span>
        &middot;
        <span class="d-count">12</span>
      </span>
      <span class="d-expressions">
        <span class="fa fa-share-alt"></span>
        &middot;
        <span class="d-count">12</span>
      </span>
    </div>
  </div>


  <div class="d-unit" style="border: 1px solid #d5d5d5;">
    <div class="d-content">
      Open manhole waiting for a disaster.
    </div>
    <div class="a-locationInfo">
      <div class="d-text">
        <div class="a-loction">
          <span class="a-precise">
            Andrews Ganj
          </span>
          &middot;
          <a class="a-distance d-metaInfo" style="color: #404040;" title="distance from your place">1.3 km</a>
          &middot;
          <a class="a-distance d-metaInfo" style="color: #404040;" href="">3 hrs ago</a>
        </div>
        <div class="a-geographicHierarchy">
          <a class="a-distance d-metaInfo" href="">South Delhi</a>
          &middot;
          <a class="a-distance d-metaInfo" href="">Delhi</a>
          &middot;
          <a class="a-distance d-metaInfo" href="">India</a>
        </div>
      </div>
    </div>
    <div class="a-organisations d-labels">
      <a class="label label-info" href="">Municipal Corporation</a>
      <!--
      <a class="d-image a-organisationLogoSmall">
        <img src="./img/systemData/cities/delhi/trafficPolice/profileImage.jpg" />
      </a>
      <a class="d-image a-organisationLogoSmall">
        <img src="./img/systemData/cities/delhi/municipal/logo.jpg" />
      </a>
    -->
    </div>

    <div class="a-postMedia">
      <div class="d-image">
        <img src="/img/systemData/cities/delhi/issues/openManhole.jpg" />
      </div>
    </div>
    
    <div class="d-engagement" style="margin-top: 10px;">
      <span class="d-upVote" style="">
        <span class="fa fa-thumbs-o-up"></span>
        &middot;
        <span class="d-count">23</span>
      </span>
      <span class="d-expressions">
        <span class="fa fa-comments-o"></span>
        &middot;
        <span class="d-count">12</span>
      </span>
      <span class="d-expressions">
        <span class="fa fa-share-alt"></span>
        &middot;
        <span class="d-count">12</span>
      </span>
    </div>
  </div>

</template>
