<template name="localIssues">

  <div class="d-unit" style="border: 1px solid #d5d5d5;">
    <div class="d-content">
      No street lights causing security problems in night.
    </div>
    <div class="a-locationInfo">
      <div class="d-text">
        <div class="a-loction">
          <a class="a-precise">
            Sanwal Nagar Market
          </a>
          &middot;
          <a class="a-distance d-metaInfo" style="color: #404040;" title="distance from your place">300 m from your place</a>
          &middot;
          <a class="a-distance d-metaInfo" style="color: #404040;" href="">added 3 days ago</a>
        </div>
        <div class="a-geographicHierarchy">
          <a class="a-distance d-metaInfo" href="">South Delhi</a>
          &middot;
          <a class="a-distance d-metaInfo" href="">Delhi</a>
          &middot;
          <a class="a-distance d-metaInfo" href="">India</a>
        </div>
      </div>
    </div>
    <div class="a-organisations d-labels">
      <a class="label label-info" href="">Delhi Police</a>
      <a class="label label-info" href="">Municipal Corporation</a>
      <!--
      <a class="d-image a-organisationLogoSmall">
        <img src="./img/systemData/cities/delhi/trafficPolice/profileImage.jpg" />
      </a>
      <a class="d-image a-organisationLogoSmall">
        <img src="./img/systemData/cities/delhi/municipal/logo.jpg" />
      </a>
    -->
    </div>
    <div class="a-postMedia">
      <div class="d-image">
        <img src="./img/systemData/cities/delhi/issues/streetLight.jpg" />
      </div>
    </div>
  </div>

</template>
