<template name="profileNav">

  <div class="visible-xs-block d-profileNav" style="width: 100%; background: #ffffff;">
    <ul class="row text-center">
      <li class="col-xs-3">
        <a href="/profile/about">About</a>
      </li>
      <li class="col-xs-3">
        <a href="/profile/contributions">Contributions</a>
      </li>
      <li class="col-xs-3">
        <a href="/profile/places">Places</a>
      </li>
      <li class="col-xs-3">
        <a href="/profile/history">History</a>
      </li>
    </ul>
  </div>

</template>
