<template name="newsSubmitForm">

  <form class="main">
    <div class="form-group a-createPostAs">
      <label for="postAs">Create Post As</label>
      <div class="">
        <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <div class="">
            <div class=""></div>
            <div class="">
              <div style="font-size: 13px;">Supritendent Of Police</div>
              <div style="color: #707070">Kangra, Himachal Pradesh</div>
            </div>
          </div>
        </label>
        <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <div class="">
            <div class=""></div>
            <div class="">
              <div style="font-size: 13px;">Treasurer, RWA</div>
              <div style="color: #707070">Police Colony, Himachal Pradesh</div>
            </div>
          </div>
        </label>
        <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">
          <div class="">
            <div class=""></div>
            <div class="">
              <div style="font-size: 13px;">Citizen</div>
              <div style="color: #707070">Kangra, Himachal Pradesh</div>
            </div>
          </div>
        </label>
        <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
          <div class="">
            <div class=""></div>
            <div class="">
              <div style="font-size: 13px;">Citizen</div>
              <div style="color: #707070">Shimla, Himachal Pradesh</div>
            </div>
          </div>
        </label>
      </div>
    </div>
    <div class="form-group">
      <label for="location">Location Context</label>
      <input class="form-control" name="url" type="text" value="" placeholder="Your URL"/>
    </div>
    <div class="form-group">
      <label for="message">Message</label>
      <textarea class="form-control" name="message" type="text" value="" placeholder="Your Post"></textarea>
    </div>
    <div class="form-group">
      <input type="submit" value="Submit" class="btn btn-primary"/>
      <input type="submit" value="Preview" class="btn btn-secondary"/>
    </div>
  </form>

</template>
