<template name="aboutUser">

  <div class="a-aboutUser clearfix">
    <div class="">
      <div class="d-title">
        About
      </div>
      <div class="a-sharedInfo">
        <div class="d-unit clearfix">
          <span class="d-metaInfo pull-left">Name</span>
          <span class="a-userInfo pull-left">Karishma Rana</span>
          <span class="a-sharedStatus pull-right">
            <a class="fa fa-globe a-active"></a>
          </span>
        </div>

        <div class="d-unit clearfix">
          <span class="d-metaInfo pull-left">Gender</span>
          <span class="a-userInfo pull-left">Female</span>
          <span class="a-sharedStatus pull-right">
            <a class="fa fa-globe a-active"></a>
          </span>
        </div>

        <div class="d-unit clearfix">
          <span class="d-metaInfo pull-left">Highest Degree</span>
          <span class="a-userInfo pull-left">Post Graduate</span>
          <span class="a-sharedStatus pull-right">
            <a class="fa fa-institution a-active">32</a>
          </span>
        </div>

        <div class="d-unit clearfix">
          <span class="d-metaInfo pull-left">Birth Date</span>
          <span class="a-userInfo pull-left">15 Nov 1987</span>
          <span class="a-sharedStatus pull-right">
            <a class="fa fa-institution a-active">49</a>
          </span>
        </div>

        <div class="d-unit clearfix">
          <span class="d-metaInfo pull-left">Mobile No.</span>
          <span class="a-userInfo pull-left">+91-8468986881</span>
          <span class="a-sharedStatus pull-right">
            <a class="fa fa-institution a-active">49</a>
          </span>
        </div>

        <div class="d-unit clearfix">
          <span class="d-metaInfo pull-left">Aadhar Number</span>
          <span class="a-userInfo pull-left">XXXXXXXX3452</span>
          <span class="a-sharedStatus pull-right">
            <a class="fa fa-lock a-active"></a>
          </span>
        </div>

        <div class="d-unit clearfix">
          <span class="d-metaInfo pull-left">Aadhar Number</span>
          <span class="a-userInfo pull-left">XXXXXXXX3452</span>
          <span class="a-sharedStatus pull-right">
            <a class="fa fa-lock a-active"></a>
          </span>
        </div>

        <div class="d-unit clearfix">
          <span class="d-metaInfo pull-left">Aadhar Number</span>
          <span class="a-userInfo pull-left">XXXXXXXX3452</span>
          <span class="a-sharedStatus pull-right">
            <a class="fa fa-lock a-active"></a>
          </span>
        </div>

        <div class="d-unit clearfix">
          <span class="d-metaInfo pull-left">Aadhar Number</span>
          <span class="a-userInfo pull-left">XXXXXXXX3452</span>
          <span class="a-sharedStatus pull-right">
            <a class="fa fa-lock a-active"></a>
          </span>
        </div>
      </div>
    </div>
  </div>

</template>
