<template name="contributions">

  <div class="a-aboutUser clearfix">
    <div class="">
      <div class="d-title">
        Contributions
        <a class="pull-right">
          Contribute
        </a>
      </div>
      <div class="a-contributions">

        <div class="d-unit clearfix">
          <div class="d-metaInfo">
            You supported an issue.
          </div>
        </div>

        <div class="d-unit clearfix">
          <div class="d-metaInfo">
            You shared an RTI.
          </div>
        </div>

        <div class="d-unit clearfix">
          <div class="d-metaInfo">
            You shared an RTI.
          </div>
        </div>

        <div class="d-unit clearfix">
          <div class="d-metaInfo">
            You tranaslated one document from hindi to english.
          </div>
        </div>

      </div>
    </div>
  </div>

</template>
